@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --app-body-font-family: "Rubik", Helvetica;
  --app-body-font-size: 17px;
  --app-body-font-style: normal;
  --app-body-font-weight: 400;
  --app-body-letter-spacing: 0px;
  --app-body-line-height: 22px;
  --app-caption-1-font-family: "Rubik", Helvetica;
  --app-caption-1-font-size: 12px;
  --app-caption-1-font-style: normal;
  --app-caption-1-font-weight: 400;
  --app-caption-1-letter-spacing: 0px;
  --app-caption-1-line-height: 16px;
  --app-footnote-font-family: "Rubik", Helvetica;
  --app-footnote-font-size: 13px;
  --app-footnote-font-style: normal;
  --app-footnote-font-weight: 400;
  --app-footnote-letter-spacing: 0px;
  --app-footnote-line-height: 18px;
  --app-subhead-font-family: "Rubik", Helvetica;
  --app-subhead-font-size: 15px;
  --app-subhead-font-style: normal;
  --app-subhead-font-weight: 400;
  --app-subhead-letter-spacing: 0px;
  --app-subhead-line-height: 20px;
  --black-and-whiteblack: rgba(16, 15, 13, 1);
  --black-and-whitewhite: rgba(255, 251, 242, 1);
  --dark: rgba(40, 48, 63, 1);
  --othersborders: rgba(233, 228, 209, 1);
  --othersgrey-01: rgba(166, 163, 157, 1);
  --othersscreen-bg: rgba(242, 239, 228, 1);
  --otherstext-bg: rgba(255, 255, 255, 1);
  --typographybody: rgba(64, 62, 57, 1);
  --typographytitles: rgba(38, 37, 34, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
